/* Base Application Styles */
* {
	margin: 0px;
	padding: 0px;
}

body {
}

.title {
	padding: 10px;
	margin: 10px 0 0 10px;
}

.main {
	padding: 10px;
	margin: auto;
}

.toolbar {
}

.toolbar ul {
	display: flex;
}

.toolbar li {
	width: 44px;
	height: 44px;
	margin: auto;
	list-style-type: none;
	border: 1px solid #ccc;
	border-radius: 6px;
	margin: 10px;
	display: block;
}

.canvas {
	border: 1px solid #ccc;
}

.canvas canvas {
	width: 100%;
}


.clear {
	clear: left;
}
