/* Base Application Styles */
* {
	margin: 0px;
	padding: 0px;
}

body {
}

.title {
	padding: 10px;
	margin: 10px 0 0 10px;
}
.title_con {
	font-size: 1em;
	margin: 0;
}

.main {
	padding: 10px;
	margin: auto;
}

.head {
	display: flex;
	padding: 10px 10px 0 10px;
}

.head > * {
	margin-left: 10px;
}

.tools > * {
	margin-left: 10px;
}

.canvas {
	border: 5px solid #ccc;
	padding: 5px 10px 10px 10px;
	position: relative;
}

.canvas canvas {
	width: 100%;
}

.qr {
	width: 100px;
	height: 100px;
	position: absolute;
	background: white;
}

.qr svg {
	width: 100%;
	height: 100%;
}

.erase {
	border: solid 1px;
	padding: 0 1em;
	margin-left: 10px;
}

.erase.on {
}

.clear {
	clear: left;
}

.mainText {
	margin: 10px;
}
